{% extends "base.html" %}


{% block content %}

<style>

.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#results{
padding: 19px;

}
</style>


<script>

function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

function do_search(val){
var csrftoken = getCookie('csrftoken');
$.post(
"/api/places/",

{ search: val,
csrfmiddlewaretoken: csrftoken },
function(data) {
obj = JSON.parse(data);

for(var item in obj.items){
//alert(obj.items[item]);
$( '#results' ).append('<li><a href="'+obj.items[item][1]+'">'+obj.items[item][0]+'</li>')
}
})
};

window.onload = function() {
  document.getElementById("search").focus();
};

$("#search").autocomplete({
    source: "/api/get-places/",
    minLength: 2,
  });

$(document).ready(function () {
$('#search').keydown(function (e){
if(e.keyCode == 13){
        do_search( $( '#search' ).val());
    }
});

});
</script>

<div class="col-lg-10">
        <div class="my-input-group">
          <input type="text" id="search" class="form-control" placeholder="Search Ex: KVB ATM, GH Hospital">
        
        </div><!-- /input-group -->
	<div id="results">
	  </div>
</div>

{% endblock %}
